#savedColor1:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: black;
}
#savedColor2:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: black;
}
#savedColor3:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: black;
}
#savedColor4:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: black;
}
#savedColor5:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: black;
}